
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");
@import url('https://fonts.googleapis.com/css?family=Arimo|Nunito|Raleway');
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
box-sizing: border-box;
}
#sign-in-p{
  display: inline;
}

body{
  text-rendering: optimizeLegibility;
   text-rendering: geometricPrecision;
  font-smooth: always;
   font-smooth: never;
   font-smoothing: antialiased;
   -moz-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
  position: inherit;
font-family: 'Open Sans', sans-serif;
background-color: #EEEEEE;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
height: 100%;
overflow-x: hidden;

}

.navigation{
       position:static;
    width: 100%;
  height: 90px;
  background-color: #FFF0F5;
clear: both;
top: 0px;
}

.logoa{
  text-decoration: none;
  height: 1px;
  position: absolute;
  top: -15px;
}


.menu{
  display:none;
}

  .menulogo{
    display: none;
    top: -90px;
  float: right;
  position: relative;
  }

#Menu{
  position:absolute;
  top: 53px;
  margin-left: 75%;
}

.pagination{
    color: black;
    float: right;
    font-size: 15px;
margin: 10px;
}

.pagination a {
  color: #581873;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
    padding: 8px 16px;
}
.pagination .active {
    background-color: #DCD1BA;
    color: white;
          padding: 8px 16px;
}
.pagination #page-num{
font-size: 12px;
color: #A1A0A0;
}

.pagination a:hover:not(.active) {background-color: #ddd;
    line-height: 1em;  transition: background-color 0.3s ease-in-out;
font-size: 14px;
  }

 #Menu li a:hover{
   transition:all 0.4s ease-in-out;
   color: #75d1b6;
 }

.navigation  li{
color: #6C7172;
  line-height: 1em;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}


.navigation li a span{
  color:#5F8AEE;
}
.navigation li a{
  text-decoration: none;
}

#Menu li a {

font-family: 'Open Sans';
  font-size: 13px;
text-align: right;
color: inherit;
}
.sign-in{
  font-family: candara;
}


span #logospan{
  color:#5F8AEE;
}

#signup{
  position: relative;
  float: right;
  clear: both;
  top: 0px;
  margin-top: -50px;
}

#signup  img{
  width: 23px;
}

#signup li{
  color: #756EB6;
  font-size: 13px;
  cursor: pointer;
}

#signup li:hover{
  background-color: none;
color: #0F1C18;
}

#content-1-p{
color: #46246d;
  font-size: 15px;
  margin-left: 43%;
}
/*Search  menu css*/
#search-web-web{
position: relative;
top: 50%;
left: 5%;
margin-left: 234px;
}

.search-web{
  clear: both;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
-moz-border: 2px solid #ccc;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 14px;
padding: 12px 20px 12px 40px;
background: url("./img/search.png");
top: -23px;
width: 207px;
color: #1d100a;
-webkit-transition:width 0.7s ease;
-moz-transition:width 0.7s ease;
-o-transition:width 0.7s ease;
transition:width 0.7s ease;
font-family: Lucida Sans;

}

.search-web:focus{
border: 2px solid #568cc7;
  width: 610px;
  transition: all 500ms;
}

#search-img{
  position: relative;
  left: 20px;
  top: 6px;
}

#label-img{
  position: absolute;
  display: block;
  height: 23px;
  left: -10px;
  margin-top: -16px;
}

/*Content
#create color
#create slide show
#add all other contents
*/

 #container{
position: relative;
left: 70px;
width: 90%;
background:#E8F2EC;
z-index: -1;
}

.job-search-form{
position: relative;
left: 70px;
width: 90%;
height: 300px;
margin-top: 100px;

}

.mySlides{
  clear: both;
  display: block;
}
.slideshow-container{
  max-width: 1500px;
 position: relative;
 margin: auto;
z-index: -1;
left: -68px;
height: 101%;
}

#img2{
-webkit-width:111%;
width:111%;
height: 87%
}


#img3{
width: 111%;
height: 87%
}

.active {
  background-color: #717171;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
-moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
transition: background-color 0.6s ease;
position: relative;
top: -80px
}

#go-top{
  display: none;
  position: fixed;
 top: 92%;
 left: 50px;
 z-index: 1;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*set for second content*/
.content-1{
  position: relative;
  background: #EFF6EF;
  height: 60%;
font-family: 'Open Sans', sans-serif;
  margin-top: -70px;
}

.close-sign-in{
position: absolute;
left: -12px;
top: -12px;
transition: all 200ms;
transform: rotate(23deg);
}
#content-1-img{
  width: 40px;
  position: relative;
  left:48%;
}
#content-1-img:hover{
transform: rotate(40deg);
transition: all 500ms;
}
.email-us{
  text-rendering: optimizeLegibility;
   text-rendering: geometricPrecision;
  font-smooth: always;
   font-smooth: never;
   font-smoothing: antialiased;
   -moz-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;

position: fixed;
  background: orange;
  width: 80px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
color:white;
top: 97%;
left: 93%;
z-index: 1;
font-family:Lucida Sans;
}

.email-us > #email-e{
cursor: pointer;
font-family:Lucida Sans;
}

footer{
position:  absolute;
  background: #303030;
font-family:Lucida Sans;
width:100%;
height:50%;
}



#footer-p{
color:rgba(255,255,255,0.4);
font-size: 10px;
position: relative;
top: 30%;
text-align: center;
font-family: candara;
}
#footer-p > a{
font-family: candara;
}

footer >p a:nth-child(1){
  text-decoration: none;
  color: #cea0e4;
}


.footer > ul{
  font-size: 12px;

}
.footer-ul-1 > li{
  list-style: none;
margin: 20px;
width: 120px;
margin-left:100px;
}

.footer-ul-2 a,.footer-ul-1 a{
  color: #ecf0f1;
text-decoration: none;
font-family:Lucida Sans;
color: rgba(255,255,255,0.7);
}

.footer-ul-2 a:hover,.footer-ul-1 a:hover{
color: rgba(255,255,255,0.3);
transition: color 0.4s 0.1s ease-in-out;
}

.footer-ul-2 {
  display:block;
  margin-left: 80%;
list-style: none;
margin-top: -110px;

}

.footer-ul-1 {
  margin-top: 40px;
}

.footer-ul-2 > li{
  margin: 20px;
}


.email-us-container{
  background: #0eac51;
  width: 370px;
  height: 450px;
  border-radius:5px;
  float: right;
  font-family: candara;
  margin-top: -473px;
}



.email-address{
  position: relative;
  top:10%;
}

.email-address > p,.subject > p,.message >p{
float: left;
margin-left: 10%;
}

.email-address > input,.subject >input{
  height: 35px;
  width: 180px;
  border: none;
  border-radius: 1px;
}

.subject >input{
  margin-left: 45px;
}

#throw_error2{
  position: relative;
  left: 15%;
  top: 40%;
}
.subject{
position: relative;
top:22%;
}
.message{
  margin-top: 40%;
}
.message > textarea{
  max-width:230px;
  min-width: 230px;
  max-height: 160px;
  min-height: 160px;
  border: none;
  border-radius: 1px;
}

.spin-star{
  transform: rotate(50deg);
}

#submit-btn{
height: 35px;
width: 90px;
font-size: 14px;
color: #FFFCFC;
background: #31F63E;
border: none;
border-radius: 7px;
margin-top: 30px;
margin-left: 60%;
cursor: pointer;

}
#submit-btn:hover{
  background-color: #e67e22;
  color: #fff;
transition: 0.7s ease-in-out;
}

#submit-btn:active{
  font-size: 10px;
  transition: 0.4s ease;
}


/***********For job creation page***********/
.create-container-content{
  margin-top:110px;
  margin-left: 20%;
  width: 60%;
  height: 100%;
  background-color: #E9E8E8;
  border: 1px solid #BDC3C7;
}
.create-container-content hr{
  margin-top: 50px;
  width:90%;
  margin-left: 5%;
  height: 5px;
background-color: #95A5A6;
border: none;
border-radius: 5px;
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}


.create-container-content .progress-bar{
  margin-top: 50px;
  width:90%;
  margin-left: 5%;
  height: 5px;
background-color: #95A5A6;
border: none;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}


.create-container-content .progress-bar-process{
  margin-top: 50px;
  width:15%;
  height: 5px;
background-color: #F1892D;
border: none;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.create-container-content .progress-bar-process-2{
  margin-top: 50px;
  width:40%;
  height: 5px;
background-color: #F1892D;
border: none;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

}


.create-container-content .progress-bar-process-5{
  margin-top: 50px;
  width:80%;
  height: 5px;
background-color: #F1892D;
border: none;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

}
.create-container-content .progress-bar-process-3{
  margin-top: 50px;
  width:55%;
  height: 5px;
background-color: #F1892D;
border: none;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

}



.create-container-content > p, .create-container-content input{
margin-left: 40px;
}
.create-container-content  input[type=submit]{
  width: 100px;
  margin-left: 690px;
  margin-top: 50px;
  height:45px;
  font-size: 15px;
  background-color: #3649a1;
  color: whitesmoke;
  border: none;
  border-bottom-right-radius: 5px;
cursor: pointer;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px 0px #0077C0;
  -moz-box-shadow: 0px 5px 0px 0px #0077C0;
  -ms-box-shadow: 0px 5px 0px 0px #0077C0;
  box-shadow: 0px 5px 0px 0px #0077C0;
transition: all 0.3s ease-in-out;
}

.create-container-content  input[type=submit]:active{
  transform: translateY(3px);
}
#back{
  position: relative;
    top: 80px;
    font-size: 14px;
    margin-left: 40px;
}
.create-p1 > p,.create-p1 > select{
  margin-left: 40px;
  font-weight: bold;
}

.create-p1 >p{
  margin-top: 15px;
  margin-bottom: 5px;
}

.create-p1 >input{
height: 40px;
}

.create-p1 > select{
  height: 40px;
}
.create-p1 > textarea{
  height: 80px;
  max-height: 90px;
  margin-left: 40px;
  max-width: 430px;
}
.create-p1 > input,.create-p1 > select,.create-p1 > textarea{
width: 400px;
border: none;
border-radius: 3px;
box-sizing: border-box;
-webkit-box-shadow: 0px 0px 1px 0px;
-ms-box-shadow: 0px 0px 1px 0px;
-moz-box-shadow: 0px 0px 1px 0px;
-o-box-shadow: 0px 0px 1px 0px;
box-shadow: 0px 0px 1px 0px;
font-weight: normal;
font-size: 15px;
}

.create-p1 .currency{
  width: 50px;
}
.create-p1 .amount{
  width: 200px;
  margin-left: 5px;
}
.create-p1 .salaryrange{
  width: 100px;
  margin-left: 10px;
}
.job-term-box .box-1{
  width: 160px;
  height: 50px;
  display: inline-block;
  background:white;
  box-sizing: border-box;
  margin: 4px;
  text-align: center;
  padding: 13px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.job-term-box{
  margin-left: 40px;
}

/***********************************/

/*Sign-in and signup backgrounds*/
.sign-in-bg{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0, 0, 0.1);
  color: #ddd;
  z-index: 1;
  overflow: hidden;
}

.sign-in-bg > p:nth-child(1){
  font-size: 90px;
  float: right  ;
  margin-right: 10px;
  clear: both;
  font-weight: 100;
  -webkit-font-weight: 100;
  font-family: 'Raleway'sans-serif;
  -ms-font-family: 'Raleway'sans-serif;
    -moz-font-family: 'Raleway'sans-serif;
  border-radius: 10px;
color: white;
}

.sign-in-bg-content,.sign-up{
  width: 35%;
  height: 60%;
  background-color: #F9EEEE;
  position: relative;
  left: 31%;
  top: 20%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 15px 0px  rgba(0, 0, 0, 0.1);
-ms-box-shadow: 1px 2px 15px 0px  rgba(0, 0, 0, 0.1);
-moz-box-shadow: 1px 2px 15px 0px  rgba(0, 0, 0, 0.1);
-o-box-shadow: 1px 2px 15px 0px  rgba(0, 0, 0, 0.1);
box-shadow: 1px 2px 15px 0px  rgba(0, 0, 0, 0.1);
}


.login{
  position: relative;
  top: 70px;
  left: -35px;
}

.login > p{
  color: #9b59b6;
  text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 17px;
padding: 5px;
margin-left: 70px;
}

 .login > #username,#password{
  position: relative;
border: none;
  left: 175px;
  height: 35px;
font-size: 15px;
width: 200px;
caret-color:blue;
}

.sign-in-bg > a{
  text-decoration: none;
}
.sign-in-bg > a:hover{
  text-decoration: underline;
}
.login > input:nth-last-child(1){
  position: relative;
  top: 0px;
  left: 85%;
  height: 35px;
  width: 60px;
  font-size: 14px;
  border: none;
  background-color: #ffcf4b;
cursor: pointer;

/*
box-shadow: 0px 0px 1px 0px;
background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
*/}

.login > input:nth-last-child(1):hover{
background-color: #c86400;
transition: all 0.4s ease-in-out;
color: whitesmoke;
}

#forgot-pass,#not-member{
  font-size: 13px;
}

#terms-p > a,#privacy-p > a,#about-p > a{
  font-size: 10px;
  margin-left: 23px;
  color: #aa0c48;
  text-decoration: none;
}

#terms-p > a:hover,#privacy-p > a:hover,#about-p > a:hover{
  text-decoration: underline;
}

#terms-p,#privacy-p ,#about-p{
  display: inline;
}

.signup-employer,.signup-jobseeker{
  border: none;
  height: 50px;
  width: 180px;
  background-color: rgb(0, 150, 170);
  padding: 5px;
  position: relative;
  top: 23%;
  left: 50px;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
}

.signup-employer > a,.signup-jobseeker >a{
  color: whitesmoke;
  text-decoration: none;
}
#post-p{
  color: #005b50;
  font-size: 13px;
  text-align: center;
  position: relative;
  top: 20px;
}
#post-p1{
  position: relative;
  top: 50px;
  left: 40%;
font-size:15px;
border-radius:10px;
}


#post-p1 > a{
  text-decoration: none;
}
#post-p1 > a:hover{
  text-decoration:  underline;
}

#post-job-hr{
position:absolute;top:27%;width:60%;left:20%;height:5px;background-color:#CEA0E4;z-index:-1;border:none;border-radius:2px;

}
#post-job{
  position:relative;top:50px;margin-left:270px;font-size:21px;color:#2C3E50;
}

/*Set for tablets and ipads*/
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
{

    .sign-in-bg-content{
      position: relative;
      left: 30%;
      width: 300px;
    }

  .login{
    position: relative;
    top: 50px;
  }
  .login > #username{
    position: relative;
    left: 80px;
  }

  #password{
    position: relative;
    left: 80px;
  }

  #terms-p{
    position: relative;
    top: -60px;
    left: -15px;
  }
  #privacy-p{
    position: relative;
    top: -60px;
    left: 50px
  }

  #about-p{
    position: relative;
    top: -75px;
    left: 130px;
  }

  .sign-up{
    position: relative;
    width: 300px;
    left: 30%;
  }
  .signup-employer,.signup-jobseeker{
  position: relative;
  margin: 10px;
  width: 110px;
  left: 20px;
  }

  .sign-up >#terms-p, .sign-up >#privacy-p{
    position: relative;
    top: -35%;
  }
  .sign-up >#about-p{
    position: relative;
    top:-39.7%;
    left: 130px;
  }

  .navigation{
    width: 100%;
    height: 10%;
    position: fixed;
  }
#logo{
  width: 200px;
  height: 110px;
  top: -30px;
  position: relative;
}

#search-web-web{
position: relative;
top: -60px;
left: -20px;
}
.search-web{
width: 90px;
height: 35px;
font-size: 11px;
padding: 12px 0px 12px 30px;
}
.search-web:focus{
width: 140px;
}

.slideshow-container{
width: 109%;
 position: relative;
 margin: auto;
z-index: -1;
right: 15%;
top: -0%;
}


.dot {
position:  relative;
top: -40px;
right: 39px;
height: 10px;
width: 10px;
}



.content-1{
  background: #EFF6EF;
  height: 30%;
  margin-top: 0%;
  position: relative;
  left: 0%;
}
#content-1-img{
  width: 20px;
  position: relative;
  left:50%;
}

.footer{
  position: relative;
  margin-top: 72%;
}

}

/*Set screen for all devices*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (max-width:600px){

  .sign-in-bg-content{
    position: relative;
    left: 30px;
    width: 290px;
  }

.login{
  position: relative;
  top: 50px;
}
.login > #username{
  position: relative;
  left: 80px;
}

#password{
  position: relative;
  left: 80px;
}

#terms-p{
  position: relative;
  top: -60px;
  left: -23px;
}
#privacy-p{
  position: relative;
  top: -60px;
  left: 50px
}

#about-p{
  position: relative;
  top: -75px;
  left: 88px;
}

.sign-up{
  position: relative;
  width: 300px;
  left: 30px;
}
.signup-employer,.signup-jobseeker{
position: relative;
top: 50px;
margin: 10px;
width: 110px;
left: 20px;
}

.sign-up >#terms-p, .sign-up >#privacy-p{
  position: relative;
  top: -35%;
}
.sign-up >#about-p{
  position: relative;
  top:-39.7%;
  left: 130px;
}
  .navigation{
    width: 100%;
    height: 10%;
    position: fixed;
  }
#logo{
  width: 200px;
  height: 110px;
  top: -40px;
  position: relative;

}

.menu{
  display: block;
  margin-top: 40px;
position: absolute;
clear: both;
width:110%;

text-align: center;
}

 .menulogo{
   display: block;
    top: 10px;
  float: right;
  position: relative;
  cursor: pointer;
  }

.menu #menu-ul{
  display: block;
  position: relative;
width: 110%;
text-rendering: optimizeSpeed;
font-weight:  normal;
}


.menu #menu-ul li{
  display: block;
  border: 1px solid #212222;
background: #22313F;
color: #DCC6E0;
height: 40px;
cursor: pointer;
}

.menu #menu-ul li a{
  font-family:candara;
  font-size: 15px;
}

.menu #menu-ul li:hover{
  transition: 0.6s ease-in;
  background-color: #212222;
}

.navigation  ul{

  display: none;
  margin-top: -35px;
  margin-left: 230px;
  list-style-type: none;
}
.navigation  ul  li{
  display: inline-block;
  padding: 5px;
}

#search-web-web{
position: relative;
top: -75px;
left: -20px;
}
.search-web{
width: 90px;
height: 35px;
font-size: 11px;
      padding: 12px 0px 12px 30px;
}
.search-web:focus{
width: 140px;
}

#search-img{
  position: relative;
  left: 20px;
  top: 3px;
}

#label-img{
  position: absolute;
  display: block;
  height: 23px;
  left: -10px;
}

.slideshow-container{
width: 109%;
 position: relative;
 margin: auto;
z-index: -1;
height: 45%;
right: 15%;
top: 20%;
}


.dot {
position:  relative;
top: 90px;
right: 39px;
height: 10px;
width: 10px;
}



.content-1{
  background: #EFF6EF;
  height: 30%;
  margin-top: 32%;
  margin-left: -100px;
}

#content-1-img{
  width: 20px;
  position: relative;
  left:50%;
}

.email-us{
position: fixed;
  background: orange;
  width: 80px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
color:white;
top: 96.55%;
left: 73%;
cursor: pointer;

}

.footer{
position: absolute;
margin-top: 122%;
}

}
